:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  color: white;
  background: linear-gradient(#0B5ED7 0%, rgb(32, 30, 30) 50%);
  margin: 60px auto;
  max-width: 90%;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}



.header {
  margin-top: 40px;
  color: white;
  padding: 0px 0px 50px 0px;
  border-radius: 20px;
  background-color: rgb(32, 30, 30);
  box-shadow: var(--box-shadow);
}

.certificateHeading {
  font-size: 100px;
  text-align: center;
  margin: 40px;
  
}

.picBreak {
  margin: 40px;
  padding: 2px;
}

.certificate {
  display: block;
  margin: auto;
  max-width: 900px;
}

.resume {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  transition: 1000ms ease-in-out;
}

.resume:hover {
  font-size: 64px;
  color: white;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  box-shadow: var(--box-shadow);
  border: 2px solid white;
  color: white;
  background-color: rgb(32, 30, 30);
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 400ms ease-in-out;
}

.navigation-links a:hover {
  color: rgb(32, 30, 30);
  background-color: white;
  border: 2px solid rgb(32, 30, 30);
}

.homepage-link {
  margin: 0 auto;
  color: black;
  text-align: center;
  display: block;
}

.homepage-link:hover {
  color: white;
  text-decoration: none;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

.email-link:hover {
  text-decoration: underline;
}
.width {
  max-width: 100%;
}
.border {
  border-radius: 15px;
  padding: 3px;
  box-shadow: black 2px 2px 5px;
}
#contact{
  margin-top: 100px;
  margin-bottom: 100px;
}